html {
	scroll-behavior: smooth; /*улучшение для плавного скрола к нужному пункту */
  }
  body {
	font-family: "Raleway", "Arial", sans-serif; /* Если  шрифт Raleway не установлен у пользователя, то пускай откроется в Arial. Если и такого нет, то пусть будет стандартный шрифт без засечек*/
  }
  
  /* Header */
  .header__menu {
	min-width: 1052px;
  }
  
  .container {
	margin: 90px 0 89px 58px;
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	display: flex;
	flex-direction: row;
  }
  
  .nav__header {
	margin: 44px 0 0 1px;
  }
  
  .nav-main__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 32px;
	margin-right: 32px;
  }
  .nav-main__item {
	list-style: circle;
  }
  
  .nav-main__item-nocircle {
	list-style: none;
  }
  .favorite {
	text-decoration: none;
  }
  
  .header__logo {
	display: block;
	flex-shrink: 0;
	margin-right: 180px;
  }
  
  .header__logo-image {
	width: 148px;
	height: 105px;
  }
  
  .header__address {
	padding-top: 5px;
  }
  
  .header__address-item {
	font-style: normal;
	list-style: none;
	line-height: 24.3px;
  }
  .street {
	margin-top: -3px;
  }
  .header__adress-link {
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid rgb(0, 0, 0);
	padding-bottom: 1px;
  }
  
  /* блок cover*/
  
  .cover {
	text-align: center;
	min-width: 1080px;
	margin-left: 10px;
	position: relative;
	z-index: 1;
	margin-right: 10px;
	background-image: url(../images/cover.jpg);
	background-size: cover;
	margin-bottom: 175px;
  }
  
  .cover::after {
	/* пвсевдоэлемент использован для затемнения основного фона */
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: rgb(0 0 0 / 0.6);
  }
  .cover__content {
	width: 100%;
	height: 100%;
	z-index: 1;
	margin-bottom: 163px;
  }
  .cover__title {
	padding-top: 157px;
	color: white;
	font-size: 100px;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: 30px;
	text-transform: uppercase;
  }
  
  .accept-span {
	display: block;
  }
  .left {
	padding-left: 46px;
	text-align: left;
	letter-spacing: 30px;
  }
  
  .letter-space-1 {
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 15px;
  }
  .center {
	letter-spacing: 35px;
	text-align: center;
	padding-right: 35px;
  }
  .letter-space-t {
	/* спан создан для корректного промежутка между буквами в слове */
	letter-spacing: 23px;
	margin-left: -33px;
  }
  .letter-space-2 {
	letter-spacing: -15px;
	margin-left: 20px;
  }
  .right {
	text-align: right;
	margin-right: 19px;
  }
  
  .letter-space-3 {
	display: inline-block;
	letter-spacing: 50px;
	margin-bottom: 128px;
  }
  
  .cover__under {
	padding-bottom: 49px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  }
  .cover__text {
	word-spacing: 18px;
	color: white;
	text-align: center;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	margin-left: 47px;
  }
  
  .cover__text span {
	margin-left: -4px;
  }
  .cover__button {
	color: white;
	text-align: center;
	font-size: 22px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	border: 1px solid #fff;
	padding: 12px 29px 12px 30px;
	margin-right: 14px;
  }
  
  .cover__button-text {
	color: white;
	text-align: center;
	font-size: 22px;
	text-decoration: none;
  }
  
  /*lots */
  
  .lots {
	margin: 172px 7px 176px 33px;
	min-width: 1034px;
  }
  .lots__title {
	text-transform: uppercase;
	color: black;
	font-size: 40px;
	font-weight: 700;
	margin: 0px 0px 27px 37px;
  }
  
  .lots__all-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 4px;
  }
  
  .card__title {
	text-decoration: underline;
	color: white;
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	text-transform: uppercase;
	margin: 48px 35px 0 39px;
  }
  .woman {
	margin-bottom: 237px;
  }
  .book {
	margin-top: 44px;
  }
  .picture {
	margin-bottom: 92px;
  }
  .card__text {
	margin-right: 35px;
	margin-bottom: 46px;
	margin-left: 39px;
	color: white;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%; /* 24px */
  }
  
  .lots__container-cards {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 328px;
	margin-bottom: 25px;
  }
  
  .lots__container-cards::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: rgb(0 0 0 / 0.6);
  }
  .list-cards {
	flex-grow: 1;
	list-style: none;
  }
  .item1 {
	background-image: url(../images/card-lot-01.jpg);
	background-size: cover;
	background-position: center;
  }
  
  .item2 {
	background-image: url(../images/card-lot-02.jpg);
	background-size: cover;
	background-position: center;
  }
  
  .item3 {
	background-image: url(../images/card-lot-03.jpg);
	background-size: cover;
	background-position: center;
  }
  
  .card-link-all {
	color: white;
	font-size: 22px;
	font-weight: 700;
	line-height: 120%;
	text-decoration-line: underline;
	text-transform: uppercase;
	text-align: left;
  }
  
  .lots__look-more-link {
	border-bottom: 1px solid rgb(0, 0, 0);
	text-decoration: none;
	color: #000;
	font-size: 20px;
	margin-top: 29px;
	margin-left: 39px;
	margin: 29px 0px 0px 39px;
  }
  
  /* section About */
  
  .about {
	color: white;
	min-width: 1100px;
	margin-left: 50px;
	margin-bottom: 156px;
  }
  .about__column {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 9px;
  }
  
  .logo {
	position: relative;
	display: block;
	width: 237px;
	height: 237px;
	background-color: black;
	border-radius: 50%;
  }
  
  .logo::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 148px;
	height: 114px;
	transform: translate(-50%, -50%);
	background: url(../images/logo-white.svg) no-repeat;
  }
  
  .about__main {
	margin-top: 98px;
	color: black;
  }
  
  .about__title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 70px;
  }
  .about__text {
	text-align: left;
	margin-top: 97px;
	padding-left: 72px;
	padding-right: 30px;
	font-size: 20px;
	font-weight: 400;
	max-width: 796px;
  }
  .about__text-item {
	padding-bottom: 20px;
  }
  
  /* FOOTER */
  
  .footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #000;
	font-size: 18px;
	margin-bottom: 88px;
  }
  .footer__adress {
	font-style: normal;
  }
  .footer__adress-main-list {
	max-width: 240px;
	margin-left: 57px;
  }
  .footer__address-item {
	list-style: none;
	line-height: 24.3px;
  }
  .footer__adress-link {
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid rgb(0, 0, 0);
	padding-bottom: 1px;
	font-size: 18px;
  }
  .footer__menu {
	margin-left: 30px;
  }
  
  .footer__menu-list-item {
	text-align: center;
	list-style: none;
	block-size: fit-content;
  }
  
  .footer__menu-link {
	font-size: 18px;
  }
  
  .footer__social-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 30px;
  }
  .footer__social-list {
	list-style: none;
  }
  .footer__social-link {
	height: 100%;
  }
  .footer__social-icon {
	width: 97px;
	height: 48px;
  }